<template>
    <div>
        <div class="row">
            <p>Department Edit-Component</p>
        </div>

        <div v-if="message" class="alert alert-success">
            {{message}}
        </div>
        <div v-if="errorMessage" class="alert alert-danger">
            {{errorMessage}}
        </div>

        <div class="row">
            <div class="col-md-12">
                <form @submit.prevent="onSubmit($event)">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input class="form-control" id="name" v-model="department.name" />
                    </div>
                    <div class="form-group">
                        <label for="description">Description</label>
                        <input class="form-control" id="description" v-model="department.description" />
                    </div>
                    <div class="form-group">
                        <button class="btn btn-success" type="submit" :disabled="saving">Update</button>
                    </div>
                </form>
            </div>
        </div>

    </div>
</template>

<script>
    import api from '../../api/departments';
    export default {
       data(){
         return{
             errorMessage:null,
             message:null,
             saving:false,
             department:{
                 id:null,
                 name:null,
                 description:null
             },
         }
       },
        created() {
            api.find(this.$route.params.id).then((response)=>{
               this.department=response.data.data;
            }).catch(err=>{
                this.$router.push({name:'404'});
            });
        },
        methods:{
           onSubmit(event){
               this.saving=true;
                api.update(this.department.id,{
                    name:this.department.name,
                    description:this.department.description
                }).then((response)=>{
                    this.message="Department Updated";
                    setTimeout(()=>this.message=null,3000);
                   this.department=response.data.data;
                   this.saving=false;
                }).catch(error=>{
                    this.errorMessage=error.response.data.message;
                    setTimeout(()=>this.errorMessage=null,3000);
                }).then(()=>{this.saving=false;});
           },
        }
    }
</script>

<style scoped>

</style>
