<template>
    <div>
        <p>Department Lis-Component</p>

        <div v-if="loading">
            <p>Loading..</p>
        </div>

        <div v-if="error">
            <div class="alert alert-danger">
                {{error}}
            </div>
            <div>
                <button v-on:click="fetchData">Try Again</button>
            </div>
        </div>

        <div class="departmetns">
            <table class="table table-hover" id="myTable">
                <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Created_at</th>
                    <th scope="col">Updated_at</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="{id,name,description,created_at,updated_at} in departments">
                    <td>{{name}}</td>
                    <td>{{description}}</td>
                    <td>{{created_at}}</td>
                    <td>{{updated_at}}</td>
                    <td>
                        <div class="btn-group btn-group-sm btn-group-vertical" role="group" aria-label="Basic mixed styles example">
                            <router-link :to="{name:'department-edit',params:{id:id}}" tag="button" class="btn btn-success">Update</router-link>
                            <button type="button" class="btn btn-danger" @click.prevent="onDelete(id)">Delete</button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
</template>

<script>
    import api from '../../api/departments';
    import swal from 'sweetalert';
    import datatables from 'datatables';
    export default {
       data(){
           return{
               departments:null,
               loading:false,
               error:null,
           }
       },
        created() {
           this.loading=true;
          this.fetchData();
        },
        methods:{
           fetchData(){
               this.error=this.departments=null;
               api.all().then((response)=>{
                   this.loading=false;
                   this.departments=response.data.data;
                   this.myTable();
               }).catch(error=>{
                   this.loading=false;
                   this.error=error.response.data.message || error.message;
               });
           },
            onDelete(id){
                swal({
                    title: "Are you sure want to delete?",
                    icon: "warning",
                    buttons: true,
                    dangerMode: true,
                })
                    .then((willDelete) => {
                        if (willDelete) {
                            api.delete(id).then((response)=>{
                                swal("Deletion is successful", {
                                    icon: "success",
                                }).then(()=>{
                                    location.reload();
                                });
                            });
                        }
                    });
            },
            myTable(){
                $(document).ready( function () {
                    $('#myTable').DataTable();
                } );
            }
        }
    }
</script>

<style scoped>

</style>
