<template>

    <div>
        <div class="row">
            <p>Employee - Add Component</p>
        </div>

        <div v-if="message" class="alert-success alert">
            {{message}}
        </div>
        <div v-if="errorMessage" class="alert-danger alert">
            {{errorMessage}}
        </div>

        <div class="row">
            <form @submit.prevent="">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="firstName">First Name</label>
                    <input class="form-control" id="firstName" v-model="employee.firstName"  />
                </div>
                <div class="form-group">
                    <label for="lastName">Last Name</label>
                    <input class="form-control" id="lastName" v-model="employee.lastName"  />
                </div>
                <div class="form-group">
                    <label for="identificationNumber">Identification Number</label>
                    <input class="form-control" id="identificationNumber" v-model="employee.identificationNumber"  />
                </div>
                <div class="form-group">
                    <label for="dateOfBirth">Date Of Birth</label>
                    <input type="date" class="form-control" id="dateOfBirth" v-model="employee.dateOfBirth"  />
                </div>
                <div class="form-group">
                    <label for="phone">Phone</label>
                    <input class="form-control" id="phone" v-model="employee.phone"  />
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input class="form-control" id="email" v-model="employee.email"  />
                </div>
                <div class="form-group">
                    <label for="address">Address</label>
                    <input class="form-control" id="address" v-model="employee.address"  />
                </div>
                <div class="form-group">
                    <label for="gender">Gender</label>
                    <input class="form-control" id="gender" v-model="employee.gender"  />
                </div>
                <div class="form-group">
                    <label class="form-label" for="customFile">Profile Photo</label>
                    <input type="file" class="form-control" id="customFile"/>
                </div>
                <div class="form-group">
                    <img id="showImage" width="100px" height="100px">
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label for="department_id">Department</label>
                    <select id="department_id" class="form-control" v-model="employee.department_id" @change="onDepartmentChanged($event)">
                        <option v-for="{id,name} in departments" :value="id">{{name}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="position_id">Position</label>
                    <select id="position_id" class="form-control" v-model="employee.position_id">
                        <option v-for="{id,name} in positions" :value="id">{{name}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="salary">Salary</label>
                    <input class="form-control" id="salary" v-model="employee.salary"  />
                </div>
                <div class="form-group">
                    <label for="startDate">Start Date</label>
                    <input type="date" class="form-control" id="startDate" v-model="employee.startDate"  />
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary" :disabled="saving">
                        {{saving ? "Creating..":"Create"}}
                    </button>
                </div>
            </div>
            </form>
        </div>
    </div>
</template>

<script>
    import departmentsApi from "../../api/departments";
    import positionsApi from "../../api/positions";
    export default {
        data(){
            return{
                message:null,
                errorMessage:null,
                saving:false,
                departments:[],
                positions:[],
                employee:{
                    firstName:null,
                    lastName:null,
                    identificationNumber:null,
                    dateOfBirth:null,
                    phone:null,
                    email:null,
                    address:null,
                    gender:null,
                    image:{},
                    department_id:null,
                    position_id:null,
                    chief_id:null,
                    salary:null,
                    startDate:null,
                }
            }
        },
        created() {
            departmentsApi.all().then(response=>{
                this.departments=response.data.data;
            });
            positionsApi.all().then(response=>{
                this.positions=response.data.data;
            });
        },
        methods:{
            onDepartmentChanged(event){

            }
        }
    }
</script>

<style scoped>

</style>
