<template>
    <!--<div>
        <p>Employee Lis-Component</p>

        <div v-if="loading">
            <p>Loading..</p>
        </div>

        <div v-if="">
            <div class="alert alert-danger">

            </div>
            <div>
                <button v-on:click="">Try Again</button>
            </div>
        </div>

        <div class="employees">
            <table class="table table-hover" id="myTable">
                <thead>
                <tr>
                    <th scope="col">Full Name</th>
                    <th scope="col">Department</th>
                    <th scope="col">Position</th>
                    <th scope="col">Gender</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <div class="btn-group btn-group-sm btn-group-vertical" role="group" aria-label="Basic mixed styles example">
                            <router-link :to="" tag="button" class="btn btn-success">Update</router-link>
                            <button type="button" class="btn btn-danger" @click.prevent="">Delete</button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>-->
</template>

<script>
    export default {
        name: "List"
    }
</script>

<style scoped>

</style>
