<template>
    <div>
        <div class="row">
            <p>Position Add-Component</p>
        </div>

        <div v-if="message" class="alert-success alert">
            {{message}}
        </div>
        <div v-if="errorMessage" class="alert-danger alert">
            {{errorMessage}}
        </div>


        <div class="row">
            <div class="col-md-12">
                <form @submit.prevent="onSubmit($event)">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input  id="name" class="form-control" v-model="position.name"/>
                    </div>
                    <div class="form-group">
                        <label for="description">Description</label>
                        <input  id="description" class="form-control" v-model="position.description"/>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary" :disabled="saving">
                            {{saving ? "Creating..":"Create"}}
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
    import api from '../../api/positions';
    export default {
        data(){
            return{
                message:null,
                errorMessage:null,
                saving:false,
                position:{
                    name:null,
                    description:null,
                }
            }
        },
        methods:{
            onSubmit(event){
                this.saving=true;
                api.create(this.position).then((response)=>{
                    this.message="Position Created.";
                    setTimeout(()=>{this.message=null;},3000);
                }).catch(err=>{
                    this.errorMessage=err.response.data.message;
                    setTimeout(()=>{this.errorMessage=null;},3000);
                }).then(()=>{this.saving=false;});
            }
        }
    }
</script>

<style scoped>

</style>
